/* not empty */
.input.has-input-inner {
  padding-inline: 0;

  &:focus-within {
    border-color: #485fc7;
    box-shadow: 0 0 0 0.13em rgba(72, 95, 199, 0.25);
  }
}

.input.has-input-inner > input.input-inner {
  border: none !important;
  outline: none !important;

  &:focus-visible {
    outline: none !important;
  }
}

i[class~="is-flap-v"] {
  transform: scaleY(-1);
}
