.dropdown-wrapper {
  height: 100%;
}

.dropdown-content {
  overflow: hidden;
  padding: 0;
}

.dropdown-item {
  max-width: 14rem;
  background-color: #fff;
  border: none;
}

.dropdown-item + .dropdown-item {
  border-top: 1px solid #222;
}

.selected {
  background-color: #ccd;
}

.input {
  width: 14rem;
}
