.autocomplete {
  position: relative;

  .dropdown-menu {
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
  }
}

.dropdown-item {
  cursor: pointer;

  &:hover {
    background-color: orange;
  }
}

.message{
  &:hover {
    background-color: transparent;
}
}
