.dropdown {
  &-content {
    max-height:  200px;
    overflow: auto;
  }

  &-item {
    padding: 8px 16px;
    cursor: pointer;

    &:hover {
      background-color: #f5f5f5;
    }
  }
}
