iframe {
  display: none;
}

.dropdown-content {
  width: 100%;
  border: none;
  text-align: left;
  transition: background-color 0.2s ease;
  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}
